.settings
.classpath
.project
target
all-lib
*.iml
*.ids
.externalToolBuilders
bin
.cache
.checkstyle
build.properties
.idea/
rebel.xml
nbactions.xml
atlassian-ide-plugin.xml
nb-configuration.xml
faces-config.NavData
documents/
mybuild.xml
mybuild_api.xml
build/
.gradle/
